doctype
html
    - var cssCommon = "../css/common/"
    - var cssDir = "../css/home_cooking/"
    - var jsCommon = "../js/common/"
    - var jsDir = "../js/home_cooking/"
    - var imgDir = "../imgs/home_cooking/"
    -
        var content = [
            ["猪肉", imgDir+"h_c__0008s_0014_iconfont-zhu.png", ["扣肉","红烧肉","烤肉","木须肉","水煮肉片","香菇炒肉","红烧肉","糖醋里脊","回锅肉","梅菜扣肉","东坡肉","四喜丸子","葱爆肉","蒸粉肉"]],
            ["鸡", imgDir+"h_c__0007s_0014_ji.png", ["烧鸡","辣子鸡","烤鸡","白斩鸡","宫保鸡丁","可乐鸡翅","手撕鸡","辣子鸡丁","炸鸡翅","红烧鸡块","咖喱鸡","香菇炖鸡","清炖鸡","爆炒鸡"]],
            ["鱼", imgDir+"h_c__0006s_0010_yu.png",  ["烤鱼","糖醋鱼","蒸鱼","水煮鱼","剁椒鱼头","红烧带鱼","酸菜鱼","红烧鲫鱼","清蒸鱼","豆汁鲈鱼"]],
            ["牛肉", imgDir+"h_c__0005s_0009_niu.png",  ["酱牛肉","炖牛肉","牛肉汤","牛肉面","红烧牛肉","咖喱牛肉","烤牛肉","水煮牛肉","土豆烧牛肉"]],
            ["羊肉", imgDir+"h_c__0004s_0002_yang.png", ["孜然羊肉","葱爆羊肉"]],
            ["蛋", imgDir+"h_c__0003s_0004_dan.png", ["蒸蛋","荷包蛋","茶叶蛋"]],
            ["排骨", imgDir+"h_c__0002s_0004_paigu.png", ["蒸排骨","炖排骨","糖醋排骨","红烧排骨"]],
            ["豆腐", imgDir+"h_c__0001s_0005_doufu-.png", ["麻婆豆腐","家常豆腐","红烧豆腐","麻辣豆腐","凉拌豆腐"]]
        ];
    head
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <title>家常菜</title>
        <link rel="stylesheet" type="text/css" href="#{cssCommon}reset.css"/>
        <link rel="stylesheet" type="text/css" href="#{cssDir}home_cooking.css"/>
        <script src="#{jsCommon}zepto_1.1.3.js" type="text/javascript" charset="utf-8"></script>
        <script src="#{jsDir}home_cooking.js" type="text/javascript" charset="utf-8"></script>
    body
        article
            h1 家常菜
            each obj in content
                section
                    h2 
                        span #{obj[0]}
                        .placeholder
                        img(src="#{obj[1]}")
                    p
                        each val in obj[2]
                            a(href="javascript:void(0);") #{val}
            else
                p "nothing"